@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 20 14.3% 4.1%;
    --card: 0 0% 100%;
    --card-foreground: 20 14.3% 4.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 20 14.3% 4.1%;
    --primary: 24.6 95% 53.1%;
    --primary-foreground: 60 9.1% 97.8%;
    --secondary: 60 4.8% 95.9%;
    --secondary-foreground: 24 9.8% 10%;
    --muted: 60 4.8% 95.9%;
    --muted-foreground: 25 5.3% 44.7%;
    --accent: 60 4.8% 95.9%;
    --accent-foreground: 24 9.8% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 60 9.1% 97.8%;
    --border: 20 5.9% 90%;
    --input: 20 5.9% 90%;
    --ring: 24.6 95% 53.1%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 20 14.3% 4.1%;
    --foreground: 60 9.1% 97.8%;
    --card: 20 14.3% 4.1%;
    --card-foreground: 60 9.1% 97.8%;
    --popover: 20 14.3% 4.1%;
    --popover-foreground: 60 9.1% 97.8%;
    --primary: 20.5 90.2% 48.2%;
    --primary-foreground: 60 9.1% 97.8%;
    --secondary: 12 6.5% 15.1%;
    --secondary-foreground: 60 9.1% 97.8%;
    --muted: 12 6.5% 15.1%;
    --muted-foreground: 24 5.4% 63.9%;
    --accent: 12 6.5% 15.1%;
    --accent-foreground: 60 9.1% 97.8%;
    --destructive: 0 72.2% 50.6%;
    --destructive-foreground: 60 9.1% 97.8%;
    --border: 12 6.5% 15.1%;
    --input: 12 6.5% 15.1%;
    --ring: 20.5 90.2% 48.2%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  .primary-gradient {
    background: linear-gradient(129deg, #ff7000 0%, #e2995f 100%);
  }
  .flex-start {
    @apply flex sm:justify-center lg:justify-start items-center;
  }
  .flex-between {
    @apply flex justify-between items-center;
  }
  .flex-center {
    @apply flex justify-center items-center;
  }
  .invert-colors {
    @apply invert dark:invert-0;
  }
  .text-dark500_light700 {
    @apply text-dark-500 dark:text-light-700 !important;
  }
  .text-dark300_light900 {
    @apply text-dark-300 dark:text-light-900 !important;
  }
  .text-light400_light500 {
    @apply text-light-400 dark:text-light-500 !important;
  }
  .text-dark100_light900 {
    @apply text-dark-100 dark:text-light-900 !important;
  }
  .text-dark500_light700 {
    @apply text-dark-500 dark:text-light-700 !important;
  }
  .text-dark200_light900 {
    @apply text-dark-200 dark:text-light-900;
  }
  .background-light900_dark200 {
    @apply bg-light-900 dark:bg-dark-200;
  }
  .background-light800_dark300 {
    @apply bg-light-800 dark:bg-dark-300 !important;
  }
  .background-light800_darkGradient {
    @apply bg-light-800 dark:dark-gradient;
  }
  .h1-bold {
    @apply text-[30px] font-bold leading-[42px] tracking-tighter;
  }
  .h2-bold {
    @apply text-[24px] font-bold leading-[31.2px];
  }
  .h2-semibold {
    @apply text-[24px] font-semibold leading-[31.2px];
  }
  .h3-bold {
    @apply text-[20px] font-bold leading-[26px];
  }
  .h3-semibold {
    @apply text-[17px] font-semibold leading-[24.8px];
  }
  .base-semibold {
    @apply font-semibold leading-[25.2px];
  }
  .body-medium {
    @apply text-[14px] font-medium leading-[18.2px];
  }
  .body-regular {
    @apply text-[14px] font-normal leading-[19.6px];
  }
  .subtle-medium {
    @apply text-[10px] font-medium leading-[13px] !important;
  }
  .small-medium {
    @apply text-[12px] font-medium leading-[15.6px];
  }
  .paragraph-regular {
    @apply text-[14px] sm:text-[16px] font-normal leading-[22.4px];
  }
  .text-dark400_light700 {
    @apply text-dark-400 dark:text-light-700;
  }
  .subtle-regular {
    @apply text-[10px] font-normal leading-[13px];
  }
  .no-focus {
    @apply focus-visible:ring-0 focus-visible:ring-transparent focus-visible:ring-offset-0 !important;
  }
  .card-wrapper {
    @apply bg-white shadow-md dark:bg-muted dark:shadow-none;
  }
  .custom-scrollbar::-webkit-scrollbar {
    width: 3px;
    height: 3px;
    border-radius: 2px;
  }
  .custom-scrollbar::-webkit-scrollbar-track {
    background: #ffffff;
  }
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 50px;
  }
  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
  .dark-gradient {
    background: linear-gradient(
      232deg,
      rgba(23, 28, 35, 0.41) 0%,
      rgba(19, 22, 28, 0.7) 100%
    );
  }
}
